[Desktop Entry]
Name=OpenDash Platinum
Comment=Optimizador ArgOs
Exec=/usr/bin/opendash
Icon=/usr/share/pixmaps/opendash.png
Terminal=false
Type=Application
Categories=System;Settings;
