[Desktop Entry]
Version=1.3
Type=Application
Name=Opendash
Comment=Optimizador oficial de OpenArgOs
Exec=python3 /home/cinnamontrixie/Proyectos/Openaaps/Opendash/opendash.py
Icon=/home/cinnamontrixie/Proyectos/Openaaps/opendash/opendash.png
Terminal=false
Categories=System;Settings;
StartupNotify=true


