[Desktop Entry]
Name=OpenDash
Comment=Optimización ArgOs Platinum
Exec=opendash-run
Icon=/usr/share/pixmaps/opendash.png
Terminal=false
Type=Application
Categories=System;Settings;
StartupWMClass=opendash
